.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.title {
    font-size: 5rem;
    color: #fff;
}

.answers {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.answers button {
    background-color: transparent;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

.result {
    color: #fff;
    font-size: 1rem;
}
